# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo

# ----------------------------
# Virtual Environment
# ----------------------------
venv/
.env

# ----------------------------
# Pytest
# ----------------------------
.pytest_cache/
.coverage
htmlcov/

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/

# ----------------------------
# Operating System
# ----------------------------
Thumbs.db
.DS_Store

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# SQLite temporary files
# ----------------------------
*.db-journal

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/