<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

<div class="container-fluid">

<a class="navbar-brand fw-bold" href="dashboard.html">

N100 Financial Intelligence

</a>

<button
class="navbar-toggler"
data-bs-toggle="collapse"
data-bs-target="#navbar">

<span class="navbar-toggler-icon"></span>

</button>

<div class="collapse navbar-collapse"
id="navbar">

<ul class="navbar-nav ms-auto">

<li class="nav-item">

<a class="nav-link"
href="dashboard.html">

Dashboard

</a>

</li>

<li class="nav-item">

<a class="nav-link"
href="sector.html">

Sector Analytics

</a>

</li>

<li class="nav-item">

<a class="nav-link"
href="compare.html">

Compare

</a>

</li>

<li class="nav-item">

<a class="nav-link"
href="health.html">

Health

</a>

</li>

<li class="nav-item">

<a
class="nav-link text-warning"
onclick="logout()">

Logout

</a>

</li>

</ul>

</div>

</div>

</nav>